<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search</title>
</head>

<body>

	<form action="/search" method="POST">

		<h2>What genre would you like to listen to?</h2>
		<input type="radio" name="genre" id="form_genre_rock" value="rock">
		<label for="form_genre_rock">Rock</label> <br><br>
		<input type="radio" id="form_genre_pop" name="genre" value="pop">
		<label for="form_genre_pop">Pop</label> <br><br>
		<input type="radio" id="form_genre_jazz" name="genre" value="jazz">
		<label for="form_genre_jazz">Jazz</label> <br><br>
		<input type="radio" id="form_genre_rap" name="genre" value="rap">
		<label for="form_genre_rap">Rap</label> <br><br>
		<input type="radio" id="form_genre_classical" name="genre" value="classical">
		<label for="form_genre_classical">Classical</label> <br><br>

		<br> <h2>What mood are you in?</h2>
		<input type="radio" id="form_mood_happy" name="mood" value="happy">
		<label for="form_mood_happy">Happy</label> <br><br>
		<input type="radio" id="form_mood_sad" name="mood" value="sad">
		<label for="form_mood_sad">Sad</label> <br><br>
		<input type="radio" id="form_mood_angry" name="mood" value="angry">
		<label for="angry">Angry</label> <br><br>
		<input type="radio" id="form_mood_chill" name="mood" value="chill">
		<label for="form_mood_chill">Chill</label> <br><br>
		<input type="radio" id="form_mood_love" name="mood" value="love">
		<label for="form_mood_love">Love</label> <br><br>

		<input type="submit" value="submit">
	</form>





</body>

</html>